{% extends 'base.html.twig' %}

{% block title %}Hello StagiaireController!{% endblock %}

{% block body %}
    <table>
        <caption><h1>Liste des stagiaires</h1></caption>
    <tbody>
    {% for stagiaire in stagiaires %}
        <tr>
            <th scope="col"></th>
            <th scope="col">Session</th>
            <th scope="col">Date de début</th>
            <th scope="col">Date de fin</th>
        </tr>
        <tr>
            <td><a href="{{ path('show_stagiaire', {'id': stagiaire.id}) }}"> {{ stagiaire }}</a></td><br>
            <td>        
            {% for session in stagiaire.sessions %}
                {{ session.nomSession }}<br>
            {% endfor %}
            </td>
        </tr>
        <tr>
            <td>       
            {% for session in stagiaire.sessions %}
                {{ session.dateDebut|date("d/m/Y") }}<br>
            {% endfor %}
            </td>
        </tr>
        <tr>
            <td>      
            {% for session in stagiaire.sessions %}
                {{ session.dateFin|date("d/m/Y") }}<br>
            {% endfor %}
            </td>                               
        </tr>
    {% endfor %}
    </tbody>    
    </table>
  

    <p>
    <a class="btn" href="{{ path('add_stagiaire') }}">Ajouter un stagiaire</a>
    </p>

{% endblock %}


