{% extends 'base.html.twig' %}

{% block title %}Hello ModuleController!{% endblock %}

{% block body %}
    <h1>Liste des modules</h1>
  

    {% for module in modules %}
        <a href="{{ path('show_module', {'id':module.id}) }}">{{ module }}</a>
        <a class="btn1" href="{{ path('edit_module', {'id':module.id}) }}">Editer</a>
        <a class="btn1" href="{{ path('delete_module', {'id':module.id}) }}">Supprimer</a><br> 
    {% endfor %}

    <p>
    <a class="btn" href="{{ path('add_module') }}">Ajouter un module</a><br> 
    </p>
    
{% endblock %}

